---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

header.masthead .page-heading,
header.masthead .post-heading {
  padding: 50px 0;
}

header.masthead .page-heading h1,
header.masthead .post-heading h1 {
  font-size: 50px;
}

footer {
  background-color: #212529;
}