---
---

@import "styles";

/* Size of header area */
header.masthead .page-heading,
header.masthead .post-heading {
  padding: 50px 0;
}

/* Size of header font */
header.masthead {
  .page-heading h1 {
    font-size: 50px;
  }

  .post-heading h1 {
    font-size: 40px;
  }
}

/* Footer adjustment to support sticky footer */
footer {
  background-color: #212529;
  .copyright {
    margin: 0px;
  }
}

/* Sticky footer */
$footerHeight: 120px;

//Page full height
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    // Negative indent footer by it's height
    margin-bottom: -($footerHeight);
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

//footer fixed height
.footer-push,
footer {
    height: $footerHeight;
    max-height: $footerHeight;
    overflow: hidden;
}

/* Registration Link */

#click-here-to-register-now {
  margin-bottom: 40px;
}

a.link-button {
  background-color:  #1c5ec0;
  background: #1c5ec0 none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
a.link-button:hover {
  background-color:  #3273dc;
  border-radius: 3px;
  color: #ffffff;
  }

.warning {
  color: red;
  font-weight: bold;
}

.badge-text-larger {
  font-size: 85%;
}